@function random-hex() {
    $color: '#';
    $i: 1;
    $letters: A, B, C, D, E, F;

    @while $i <=6 {
        $number: random($limit: 15);
        @if ($number > 9) {
            $color: $color + random($letters);
        } @else {
            $color: $color + $number;
        }
        @return unquote($string: $color);
    }
}